{% include 'header.html' %}
<div class="container">
  {% if roles is not None %}
  <table class="table table-striped table-responsive mt-5">
    <thead>
      <tr>
        <th>ID</th>
        <th>Role Name</th>
      </tr>
    </thead>
    <tbody>
      {% for role in roles %}
        <tr>
          <td>{{ role.id }}</td>
          <td>{{ role.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h4 class="text-center mt-5">
    No roles found
  </h4>
  {% endif %}
</div>
{% include 'footer.html' %}